* {
    transition: all 350ms ease-in-out;
    border-radius: 10px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #37474F;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    background: #646572b8;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #00000000;
    height: 40px;
    color: #000;
    font-size: 30px;
    text-align: center;
}

footer {
    background: #78909C;
    margin: 10px;
    padding: 1px;
    text-align: center;
}

nav {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #290b97;
}

.content {
    display: grid;
    margin-top: 106px;
    grid-template-areas: "p1 main" "p2 main" ". main";
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.navbar {
    background-color: #333;
    display: flex;
    overflow: hidden;
    text-align: left;
    padding: 10px;
    margin: 13px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
}

.navbar a {
    display: flex;
    float: none;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    transition: transform 0.5s ease, opacity 0.5s ease;
    justify-content: center;
    flex-direction: row;
}

.navbar a:hover ,#phone:hover {
    background-color: #ddd;
    color: black;
}

.sidebar {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #607D8B;
    width: 35vw;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #B0BEC5;
}

tr:nth-child(odd) {
    background-color: #78909C;
}

.contacts > a:hover {
    cursor: pointer;
}

.icon {
    border-radius: 0px;
    width: 25px;
    height: auto;
    padding-right: 4px;
}

.contacts > a:hover ,.contacts > .icon:hover {
    color: #2196F3;
    stroke: #2196F3;
}

.pass {
    background-color: #66BB6A;
}

.pending {
    background-color: #FDD835;
}

.left {
    display: flex;
}

.contacts {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #52518180;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #B0BEC5;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px #00000057;
    text-align: center;
}

.popup-content button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #1565C0;
    color: #90CAF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #2196F3;
}

#sidebartop {
    align-items: center;
    grid-area: p1;
    height: 100%
}

#sidebartop > p {
    margin: 2px;
    font-size: 16px;
}

#sidebarbottom {
    grid-area: p2;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    height: 120px;
}

#phone {
    padding: 5px;
    border-radius: 16px;
}

#overview {
    background: #e7e7d8;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

#education {
    background: #e7e7d8;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    margin-top: 5px;
}

#profileph {
    min-width: 232px;
    margin: 2px;
    height: auto;
    margin-top: 10px;
}

@media only screen and (max-width: 724px) {
    .content {
        grid-template-areas:"p1" "main" "p2";
        margin-top: 260px;
    }

    .navbar {
        flex-direction: column;
    }

    .sidebar {
        max-width: 100vw;
        width: 90vw;
    }

    #sidebartop {
        margin-bottom: 30px;
        height: auto;
    }

    .navbar a {
        padding: 10px 100vw;
    }

    .right {
        float: none;
    }

    .left {
        flex-direction: column;
    }
}
